[
%% Kernel config
 {kernel, [
          {error_logger, silent}
 ]},
 %% Sasl config
{sasl, [
       {errlog_type, silent}
       ]},

%% Lager config
%% {lager_console_backend, debug},

%% Publicator-core
{publicator_core, [
         {permission_backend,{publicator_static_permission_backend,
                              [[{producer_code, all},
                                {meta, []},
                                {channel_code, all},
                                {publish, true},
                                {subscribe, true},
                                {receive_events, true}]
                                ]
                                }},
         {persistence_backend, {publicator_inmemmory_persistence_backend, []}}
                  ]}
].
